nav {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1em
}

.menu-hamburguer {
  height: 40px;
  color: #fff;
}

.link {
  width: 150px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #bebebe;
  border-radius: .3rem;
  padding: .7em 1em;
  margin: 0 .8em 0 .8em;
  transition: all 0.3s ease-in-out;
}

.active {
    width: 150px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #6C7AE0;
    border-radius: .3rem;
    padding: .7em 1em;
    margin: 0 .8em 0 .8em;
    transition: all 0.3s ease-in-out;
}