header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #1e1e1e;
    color: #6b9a34;
}

.logo {
    margin: auto 1em;
}

.logo img {
    height: 40px;
}

.logout {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 3em;
    color: white;
    cursor: pointer;
}
